body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

 /* Container holding the image and the text */
.container {
  background-color: rgba(0,0,0,0.5);
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #F8F9FA;
  font-size: 0.65rem;
}

.text-gray, i {
  color: rgba(255, 255, 255, 0.5);
}